name: 'Terraform init plan apply'

on :
  push:
    branches: [ "main" ]
permissions:
  contents: read

env:
      TF_IN_AUTOMATION: true
      TF_INPUT: false
      TF_VAR_region: ${{ secrets.AWS_REGION }}
      TF_VAR_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
      TF_VAR_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      config_directory: "./"
jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    # environment: production
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    ## initialize terraform into current directory
    - name: 'Terraform Init'
      run: terraform init 
    ## plan terraform and save the plan to tfplan file
    - name: 'Terraform Plan'
      run: terraform plan -out=tfplan
    ## apply terraform using the tfplan file
    - name: 'Terraform Apply'
      run: terraform apply -auto-approve tfplan




